extends ./components/_layout.pug

block variables
	-
		var title = 'Главная страница'
		var description = 'Главная страница'
		var index = true

block content 
	include ./components/intro
	include ./components/features