section.section.section--features 
    .container 
        .feature-block 
            .feature-block__logo 
                img(src="img/logo-demo.jpg")
            
            ul.feature-list 
                li.feature-list__item 
                    p.feature-list__item-num 
                        | 3
                    p.feature-list__item-text  
                        | рекрутера 

                li.feature-list__item 
                    p.feature-list__item-num 
                        | 15
                    p.feature-list__item-text  
                        | Вакансий в месяц 

                li.feature-list__item 
                    p.feature-list__item-num 
                        | 200
                    p.feature-list__item-text  
                        | cотрудников 
            
        p.text-demo 
            | Какой-то контент, про который надо знать, что он есть