.intro  
    .container 
        .intro__row 
            .intro__left 
                ul.intro-tags 
                    li.intro-tags__item.intro-tags__item--active
                        span Кейс
                    li.intro-tags__item 
                        | IT
                    li.intro-tags__item 
                        | Медиа
                    li.intro-tags__item 
                        | SaaS

                h1.intro__title 
                    | Очень длинный заголовок в несколько строк чтобы было видно как надо его сверстать
                p.intro__text   
                    | Описание тоже может быть в несколько строчек и надо это учесть

            .intro__right
                .intro__image 
                    img(src="img/intro-image.png")
                